<% if flash[:alert] %>
  <div class="alert" style="color:red">
    <ul>
     <% flash[:alert].each do |alert| %>
      <li><%= alert %></li>
     <% end %>
    </ul>
   </div>
 <% end %>

 <p>Which house you wonder? After you're enrolled, the Sorting Hat will assign you!</p>

<%= form_for student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :heritage %>
  <%= f.select :heritage, Student.heritages %>
  <br><br>
  <br><br>need to add pet id or nested form for new pet<br><br>

  <%= f.label :patronus %>
  <%= f.text_field :patronus %>
  <br><br>
  <%= f.label :graduation_year, "Class of:" %>
  <%= f.text_field :graduation_year %>
  <br><br>
  <%= f.label :status, "Alive at End of Book Series?" %>
  <%= f.check_box :status %>
  <br><br>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br><br>


  <br><br>
  <%= f.submit %>
<% end %>
