<style>
  body {
  background: url(https://wallpaperaccess.com/full/541405.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
</style>

<div class="col-sm-7"></div>
<div class="col-sm-5 d-flex flex-row">
<h3 class="text-left">
  <% if flash[:alert] %>
    <div class="alert" style="color:red">
      <ul>
       <% flash[:alert].each do |alert| %>
        <li><%= alert %></li>
       <% end %>
      </ul>
     </div>
   <% end %>

   <p>Which house you wonder? After you're enrolled, the Sorting Hat will assign you!</p>

  <%= form_for student do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :heritage %>
    <%= f.select :heritage, Student.heritages, include_blank: true %>
    <br><br>
    <%= f.label :patronus, "Patronus, if known" %>
    <%= f.text_field :patronus %>
    <br><br>
    <%= f.label :graduation_year, "Class of" %>
    <%= f.text_field :graduation_year %>
    <br><br>
    <%= f.check_box :status %>
    <%= f.label :status, "Alive at End of Book Series?" %>
    <br><br>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <br>
    <%= f.submit %>
  <% end %>
</h3>
</div>
