

<h1><%=s.name%> </h1>
<ul>
    <li>House: <%= display_house(s)%></li><br>
    <li>Heritage: <%= s.heritage %> </li><br>
    <li>Classes: <% s.klasses_names %></li><br>
    <li>Pet: <%= display_pet(s) %></li><br>
    <li>Patronus: <%= s.patronus %> </li><br>
    <li>Graduates: <%= s.graduation_year %></li><br>
    <li>Alive at end of series? <%= s.status %> </li><br>
    <li>Bio: <%= s.bio %></li><br>
</ul>
