<ul>
    <li>Name: <%= link_to s.name, student_path(s)%> </li>
    <li>House: <%= s.house.name %></li>
    <li>Heritage: <%= s.heritage %> </li>
    <li>Status: <%= s.status?%> </li>
    <li>Patronus: <%= s.patronus%> </li>
    <li>Classes: <%= s.klasses_names %> </li>
    <li>Pet: <%= display_pet(s) %></li>
    <li>Graduates: <%= s.graduation_year %></li>
    <li>Bio: <%= s.bio %></li>    
    <li></li>
</ul>
