<%= render 'layout' %>



<div class="container">
  <div class="panel-a" text-black>
    <div class="panel-body">
      <div class="col-sm-12 d-flex flex-row">
        <div class="subheader"><h2><%=s.name%> </h2></div>
          <h4>
            House: <%= display_house(s)%><br><br>
            Heritage: <%= s.heritage %><br><br>
            Classes: <%= s.klasses_names %><br><br>
            Pet: <%= display_pet(s) %><br><br>
            Patronus: <%= s.patronus %><br><br>
            Graduates: <%= s.graduation_year %><br><br>
            Alive at end of series? <%= s.status %><br><br>
            Bio: <%= s.bio %><br>
          </h4>
      </div>
    </div>
  </div>
</div>
