<ul>
    <li>Name: <%= link_to s.name, student_path(s)%> </li>
    <li>House: <%= link_to s.house.name house_path %></li>
    <li>Heritage: <%= s.heritage %> </li>
    <li>Classes: <% s.klasses_names %></li>
    <li>Pet: **s.pet.name after helper method added**</li>
    <li>Patronus: <%= s.patronus %> </li>
    <li>Graduates: <%= s.graduation_year %></li>
    <li>Alive at end of series? <%= s.status %> </li>
    <li>Bio: <%= s.bio %></li>
</ul>
