<style media="screen">

</style>
<%= render '/klasses/layout' %>
<br><br><br><br><br><br>

<div class="container">
  <div class="panel-a">
    <div class="panel-body">
      <div class="subheader"><h2 style="text-align:center"><%= @student.name %>'s Class Schedule </h2></div>
      <div class="col-sm-12 d-flex flex-row">
        <div class="center" style="text-align:center">

        <h3>Add or drop classes here</h3>
        <br>
        <h3>Warning: Time Turners are no longer available; don't sign up for too many classes!</h3>
        <br>
        <%= form_for @student do |f| %>
          <h2><%= f.label :klass_ids, "Classes" %></h2>
          <h5>
            <%= f.collection_check_boxes :klass_ids, Klass.all.sort_by(&:name), :id, :name %><h5><br>
            <%= f.submit "Update Class Schedule"%>
          </h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
