


        <div class="col-sm-12 d-flex flex-row">
         <% if flash[:notice] %>
         <br><br><br>
          <div class="notice" style="text-align:center">
            <font size="60" color="lightgrey"><em><%= flash[:notice] %></em></font>
          </div>
        <% end %>


  <%= render partial: 'student', locals: { s: @student, house: @house }%>


  <div class="col-sm-12 d-flex flex-row" style="color:black">
    <br><br><br>
    <%= button_to "Add or Drop Classes",  "#{student_path(@student)}/classes", method: :get%><br>
    <%= button_to "Edit Student",  edit_student_path(@student), method: :get%><br>
    <%= button_to "Delete Student",  student_path(@student), method: :delete%><br>
  </div>
