<h1>Hogwarts School of Witchcraft and Wizardry</h1>
<!-- NAV BAR -->
<h4><%= link_to "Students", students_path %></h4>
<h4><%= link_to "Admissions", new_student_path %></h4>
<h4><%= link_to "Faculty", teachers_path %></h4>
<h4><%= link_to "Courses", klasses_path %></h4>
<h4><%= link_to "Houses", houses_path %></h4>
<h4><%= "Log In" %></h4>

<!-- -->
