<style media="screen">
  body {
    background: url(http://images.fandango.com/images/fandangoblog/hogwartsschoolpotter.jpg) no-repeat !important;
    background-size: cover;
  }

  .panel {
    background: rgb(0, 0, 0, 0.5)
    /* need to change color of lettering */
  }

  .panel-a {
    background: rgb(196, 218, 199, 0.1)
    /* need to change color of lettering */
  }

</style>


<div class="col-sm-12 d-flex flex-row">

  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">

      <div class="container-fluid row">
        <div style="color:darkblue"><h2>Login to Your Hogwarts Wizard Portal</h2></div>
        <br>

        <div class="form">
        <%= form_tag(login_path, method: :post) do %>
          <h4 style="color:darkblue"><%= label_tag(:username) %>
          <%= text_field_tag(:username) %></h4>
          <br>

          <h4 style="color:darkblue"><%= label_tag(:password) %>
          <%= password_field_tag(:password) %></h4>
          <br>
          <%= submit_tag "Login"%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
