<%= render 'layout' %>


<div class="col-sm-12">
  <br><br><br>
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="container-fluid row" style="text-align:center">


          <div class="subheader"><h6><%= @klass.name %></h6></div><br>

          <div>
             <h3>Taught by: <%= link_to @teacher.name, teacher_path(@teacher), class: 'tan_text' %><br><br><br>
             Class Description: </h3>
             <h5><%= @klass.description %></h5>
          </div>

          <div>
            <br>
             <h2>Students Enrolled</h2>
              <% @klass.students.each do |student| %>
                <h4 class="color:tan"><%= link_to student.name, student_path(student) %></h4>
              <% end %>
          </div>
            <br>
            <%= button_to "Enroll", "/klass/:student_id/enroll", method: :get %>

        </div>
      </div>
    </div>
  </div>
</div>
