<%= render 'layout' %>


<div class="col-sm-12">
  <br><br><br>
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="container-fluid row" style="text-align:center">


          <div class="subheader"><h2><%= @klass.name %></h2></div><br>

          <div>
             <h3>Taught by: <%= link_to @teacher.name, teacher_path(@teacher) %><br><br>
             Class Description: </h3>
             <h4><%= @klass.description %></h4>
          </div>

          <div>
            <br>
             <h3>Students Enrolled</h3>
              <% @klass.students.each do |student| %>
                <h4><%= link_to student.name, student_path(student) %></h4>
              <% end %>
          </div>

          <div>
             <%= button_to "Enroll", "/klass/:student_id/enroll", method: :get %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
